<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>177025070177-20bghh8k7o2d68g1f2d63t13sqtv5mns.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.177025070177-20bghh8k7o2d68g1f2d63t13sqtv5mns</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>177025070177-k6feh9samabtqbp1mp7nult5qjc74jka.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCsi2xcZ5ITCDiS-cvijP_ui7mzA6BTexw</string>
	<key>GCM_SENDER_ID</key>
	<string>177025070177</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sindyxr.checkyoself</string>
	<key>PROJECT_ID</key>
	<string>check-yo-self-18682434</string>
	<key>STORAGE_BUCKET</key>
	<string>check-yo-self-18682434.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:177025070177:ios:590edac818dd63271c2620</string>
	<key>DATABASE_URL</key>
	<string>https://check-yo-self-18682434.firebaseio.com</string>
</dict>
</plist>